:root {
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --title-color: #212121;
    --text-color: #757575;
    --bg-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

h1, h2, h3, p, ul {
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Обнулення стилів для посилань та списків */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding-inline-start: unset;
}

/* Лого стилі */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}

.web-header,
.web-footer {
    color: var(--accent-color);
}

.studio-header {
    color: #000000;
}

.studio-footer {
    color: var(--primary-white-color);
}

/* Header & Footer стилі */

/* .header {
    display: flex;
    
} */

.main-nav {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
} 

.nav-link {
    display: flex;
    margin-left: 94px;
}

.nav-link-item,
.header-contact-item {
    margin-right: 50px;
}

.nav-link-item:last-child,
.header-contact-item:last-child {
    margin-right: 0;
}

.header-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-link {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--title-color);

    text-decoration: none;
}

.header-email,
.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;

    color: var(--text-color);

    text-decoration: none;
}

.current,
.hover-focus:hover,
.hover-focus:focus {
    color: var(--accent-color);
}

.footer {
    background-color: var(--bg-color);
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;

    color: var(--primary-white-color);
}

.footer-email,
.footer-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;

    color: rgba(255, 255, 255, 0.6);
}


/* Студія стилі */

.hero {
    text-align: center;
    
    background-color: var(--bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,9;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);

    padding: 10px 32px;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    
    background-color: var(--accent-color);
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
}

.features-list {
    display: flex;
    column-gap: 30px;
}

.features-text {
    font-size: 14px;
    line-height: 1,7;

    color: var(--text-color);
}

.work-list {
    display: flex;
    column-gap: 30px;
}

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,2;
    text-align: center;
}

.team-list {
    display: flex;
    column-gap: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,2;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,2;

    color: var(--text-color);
}

/* Портфоліо стилі */

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list-item {
    margin-right: 8px;
}

.button-list-item:last-child {
    margin-right: 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1,9;
    
    color: var(--text-color);
}

.filter-buttons {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0.03em;

    padding: 6px 22px;

    border-width: 0;
    color: var(--title-color);
    background-color: #F5F4FA;
    
    border-radius: 4px;
    cursor: pointer;
}

.filter-buttons:hover,
.filter-buttons:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}